/*Mobile*/
@font-face {
    font-family: CustomFont;
    src: url("Fonts/Bebas.ttf.woff");
}
body,html {
    width: 100%;
    margin: 0;
}
body {
    background-image: url("images/background-mobile.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #0f262e;
    text-align: center;
}

ul {
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

ul li {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 10vw;
    font-weight: bold;
    font-family: CustomFont;
    -webkit-text-stroke: 1px black;
}

ul li a:hover {
    color: rgb(162, 162, 162);
}

#headerLogo {
    margin-top: 150px;
    width: 95%;
}

#bodyContent {
    background-color: #0f262e;
    width: 80%;
    height: 100%;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    text-align: center;
}

#page-title {
    font-size: 20vw;
    margin-top: 40%;
    color: white;
    font-family: CustomFont;
    -webkit-text-stroke: 3px black;
}

#bodyContent h1 {
    color: white;
    font-size: 8vw;
    padding-top: 5%;
    font-family: CustomFont;
}

#bodyContent p {
    color: white;
    font-family: CustomFont;
}

#bodyContent #main {
    font-size: 3vw;
    margin-top: 5%;
}
#bodyContent #secondary {
    font-weight:lighter;
    font-size: 1.5vw;
}

#bodyContent #last {
    font-size: 1.4vw;
}

#bodyContent #contact-footer-text {
    font-weight:lighter;
    margin-top: 5%;
    padding-bottom: 5%;
    font-size: 1.5vw;
}

#about-text {
    font-weight: lighter;
    font-size: 2vw;
    width: 50%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

[class*="column-size-"] {
    width: 100%;
}

/*Tablet*/
@media only screen and (min-width: 600px) and (orientation: landscape) {
    /*Custom Css for tablets*/
    body {
        background-image: url("images/background.jpg");
    }

    header {
        margin-top: 10%;
    }
    
    header div {
        display: inline;
    }

    ul li {
        display: block;
        margin: 0;
        margin-bottom: 40%;
        padding: 0;
    }

    ul li a {
        font-size: 3vw;
    }

    #headerLogo {
        margin-top: 10%;
        margin-right: 10%;
        width: 40%;
        float: right;
    }

    #page-title {
        display: none;
    }
    
    nav {
        float: left;
        margin-left: 6%;
    }
}

/*Desktop*/

@media (min-width: 900px) and (orientation: landscape) {

    /*Custom Css for desktop*/
    #headerLogo {
        margin-top: 5%;
    }

    #bodyContent {
        width: 40%;
        margin-right: 30%;
        margin-top: 5%;
        padding: 25px;
        float: right;
    }

    #bodyContent h1 {
        font-size: 4vw;
    }

    #bodyContent #main {
        font-size: 1vw;
        margin-top: 5%;
    }
    #bodyContent #secondary {
        font-size: .8vw;
    }

    #bodyContent #contact-footer-text {
        margin-top: 5%;
        font-size: .8vw;
    }

    #about-text {
        font-size: .6vw;
    }
    
    nav {
        margin-left: 8%;
    }
}