/*Mobile*/
@font-face {
    font-family: CustomFont;
    src: url("Fonts/Bebas.ttf.woff");
}
body,html {
    width: 100%;
    height: 100%;
    margin: 0;
}

footer {
    background-color: black;
    color: white;
}

/*Index css configuration - Mobile*/
.menu {
    height: 10%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: black;
}

.menuContent {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    z-index: 999999;
}

#mobileMenu {
    display: none;
}

#mobileMenu ul li a{
    color: gray;
    text-decoration: none;
}

#desktopMenu {
    display: none;
}

ul {
    margin: 0px;
    margin-top: 50px;
    padding: 0px;
}

nav {
    background-color: white;
}

#menuExitBtn {
    text-decoration: none;
    color: rgb(80, 80, 80);
    border: none;
    background-color: white;
    font-size: 40px;
    font-weight: bold;
    right: 20px;
    top: 10px;
    position: absolute;
}

#menuShowBtn {
    text-decoration: none;
    color: white;
    border: none;
    background-color: transparent;
    font-size: 35px;
    font-weight: bold;
    right: 20px;
    top: 15px;
    position: absolute;
}

.headerImage {
    position: relative;
    text-align: center;
    color: white;
}

#showcaseImg {
    width: 100%;
}

.titleName {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul li{
    text-align: center;
    color: gray;
    display: block;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    margin: 0px;
    height: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.mainContent {
    margin: 20px;
}

.contentPost {
    background-color: rgb(255, 251, 228);
    padding: 10px;
    margin-bottom: 20px;
}

.contentPost #post-title {
    font-size: 30px;
    font-weight: bold;
}

.contentPost #post-description {
    font-size: 20px;
}

.contentPost img {
    width: 100%;
}

#readButton {
    text-decoration: none;
    color: white;
    border: none;
    background-color: rgb(66, 66, 163);
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
    height: 50px;
}

.openHours {
    text-align: center;
}

#footerSection {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#footerSection #footer-title {
    font-size: 30px;
    font-weight: bold;
}

/*Button config for links*/
button a {
    color: white;
    text-decoration: none;
}

button a:hover {
    color: beige;
}

/*about css configuration - Mobile*/

#about-title {
    font-size: 40px;
    font-weight: bold;
}

#about-text {
    font-size: 30px;
}

/*Booking confirmation*/
.confirmedBooking {
    text-align: center;
}

.confirmedBooking h2 {
    margin-bottom: 60px;
}

/*contact css configuration - Mobile*/

#contact-title {
    font-size: 40px;
    font-weight: bold;
}

#contact-text {
    font-size: 30px;
}

.contactFormContainer label {
    font-size: 20px;
    font-weight: bold;
}

form input {
    width: 100%;
    margin-bottom: 20px;
}

input[type=submit] {
    color: white;
    border: none;
    background-color: rgb(66, 66, 163);
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
    height: 50px;
}

/*Tablet*/
@media only screen and (min-width: 600px) and (orientation: landscape) {
    
}

/*Desktop*/

@media (min-width: 900px) and (orientation: landscape) {
    #menuShowBtn {
        display: none;
    }

    #desktopMenu {
        display: block;
        padding-top: 35px;
        background-color: transparent;
    }

    #desktopMenu nav {
        background-color: transparent;
    }

    ul {
        margin-top: 0px;
    }

    #desktopMenu ul li {
        background-color: transparent;
        display: inline;
        position: static;
        padding: 0px;
        margin: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #desktopMenu ul li a{
        color: white;
        text-decoration: none;
    }

    .titleName {
        font-size: 75px;
    }

    .mainContent .contentPost{
        display: inline-block;
    }

    .contentPost {
        width: 32%;
    }

    .contentPost img {
        max-height: 400px;
    }

    .aboutContent {
        width: 50%;
        text-align: center;
        margin: auto;
    }

    .contactContent {
        width: 50%;
        text-align: center;
        margin: auto;
    }

    .blogTitle {
        font-size: 30px;
        font-weight: bold;
    }

    #disabledEvent {
        -webkit-filter: grayscale(100%); /*For safari*/
        filter: grayscale(100%); /*For expired events*/
    }

    /*Booking confirmation*/
    .confirmedBooking {
        width: 30%;
        text-align: center;
        margin: auto;
        background-color: beige;
        height: 400px;
        padding: 20px;
        border-radius: 25px;
    }

    .confirmedBooking h2 {
        margin-bottom: 60px;
    }
}