/*Mobile*/
@font-face {
    font-family: CustomFont;
    src: url("Fonts/Bebas.ttf.woff");
}
body,html {
    width: 100%;
    margin: 0;
}
body {
    background-image: url("images/background-mobile.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #0f262e;
    text-align: center;
}

ul {
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

ul li {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 10vw;
    font-weight: bold;
    font-family: CustomFont;
    -webkit-text-stroke: 1px black;
}

ul li a:hover {
    color: rgb(162, 162, 162);
}

#headerLogo {
    margin-top: 150px;
    width: 95%;
}

[class*="column-size-"] {
    width: 100%;
}

/*Tablet*/
@media only screen and (min-width: 600px) and (orientation: landscape) {
    /*Custom Css for tablets*/
    body {
        background-image: url("images/background.jpg");
    }

    header {
        margin-top: 10%;
    }
    
    header div {
        display: inline;
    }

    ul li {
        display: block;
        margin: 0;
        margin-bottom: 40%;
        padding: 0;
    }

    ul li a {
        font-size: 3vw;
    }

    #headerLogo {
        margin-top: 10%;
        margin-right: 10%;
        width: 40%;
        float: right;
    }
    
    nav {
        float: left;
        margin-left: 6%;
    }
}

/*Desktop*/

@media (min-width: 900px) and (orientation: landscape) {

    /*Custom Css for desktop*/
    #headerLogo {
        margin-top: 5%;
    }
    
    nav {
        margin-left: 8%;
    }
}